{% extends 'layouts/app2.html' %}

{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">Edit SSH User</h3>
            <div class="card-tools">
                <a type="button" class="btn btn-info btn-sm" href="/sshuser">
                    <i class="fa fa-arrow-left"></i> Back
                </a>
            </div>
        </div>
        <form method="POST" action="/sshuser/{{ data['id'] }}/update" enctype="multipart/form-data">
	        <div class="card-body">
	        	<div class="form-group row">
	        		<label class="col-md-2 col-form-label">Username</label>
	        		<div class="col-md-5">
	        			<input type="text" class="form-control" placeholder="Username" name="username" required="" readonly value="{{ data['username'] }}">
	        		</div>
	        	</div>

	        	<div class="form-group row">
	        		<label class="col-md-2 col-form-label">Pub Key SSH Keygen</label>
	        		<div class="col-md-5">
	        			<input type="file" class="form-control-file" name="pubkey">
	        			<small>*) Upload new ssh keygen</small>
	        		</div>
	        	</div>
	        </div>
	        <div class="card-footer">
	        	<button class="btn btn-primary">Update</button>
	        </div>
        </form>
    </div>
{% endblock  %}

{% block script %}
<script type="text/javascript">
	$('input').keypress(function( e ) {
	    if(e.which === 32) 
	        return false;
	})
</script>
{% endblock  %}