{% extends 'layouts/app2.html' %}

{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">SSH User Akses Server : (<b>{{ data['username'] }}</b>)</h3>
            <div class="card-tools">
                <a type="button" class="btn btn-info btn-sm" href="/sshuser">
                    <i class="fa fa-arrow-left"></i> Back
                </a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped data-table">
                <thead>
                    <tr>
                        <th style="width: 10px;">No</th>
                        <th>Server</th>
                        <th>Sync</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in server %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ s['server'] }}</td>
                            <td>
                                {% if s['sync_status'] == 1 %}
                                    <i class="fa fa-check text-success"></i> Sync
                                {% else %}
                                    <i class="fa fa-times text-danger"></i> Not Sync
                                {% endif %}
                            </td>
                            <td>
                                {% if s['sync_status'] == 1 %}
                                    <a href="/sshuser/{{ sshuser_id }}/{{ s['id'] }}/add-to-server" class="btn btn-primary btn-sm" onclick="deploy_static_backdrop()">
                                        <i class="fa fa-sync"></i> Re-sync
                                    </a>

                                    <a href="/sshuser/{{ sshuser_id }}/{{ s['id'] }}/remove-from-server" class="btn btn-danger btn-sm" onclick="deploy_static_backdrop()">
                                        <i class="fa fa-user-times"></i> Remove Access
                                    </a>
                                {% else %}
                                    <a href="/sshuser/{{ sshuser_id }}/{{ s['id'] }}/add-to-server" class="btn btn-primary btn-sm" onclick="deploy_static_backdrop()">
                                        <i class="fa fa-user-plus"></i>
                                        Add user to server
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <center><h3><i class="fas fa-circle-notch fa-spin"></i> <b>Processing Ansible, Please wait.!</b></h3></center>
                </div>
            </div>
        </div>
    </div>

{% endblock  %}

{% block script %}
<script type="text/javascript">
    function deploy_static_backdrop(){
        $('#exampleModalCenter').modal({backdrop: 'static', keyboard: false})  
    }
</script>
{% endblock %}