{% extends 'layouts/app2.html' %}

{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">SSH User</h3>
            <div class="card-tools">
                <a type="button" class="btn btn-primary btn-sm" href="/sshuser/create">
                    <i class="fa fa-plus"></i> Add SSH User
                </a>

                <a type="button" class="btn btn-warning btn-sm" href="javascript:void(0);" data-toggle="modal" data-target="#modal-add">
                    <i class="fa fa-server"></i> Multi Assign Server
                </a>

                <a type="button" class="btn btn-danger btn-sm" href="javascript:void(0);" data-toggle="modal" data-target="#modal-remove">
                    <i class="fa fa-trash"></i> Multi Delete User From Server
                </a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped data-table">
                <thead>
                    <tr>
                        <th style="width: 10px;">No</th>
                        <th>Username</th>
                        <th>Pubkey</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for value in data %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ value['username'] }}</td>
                            <td>
                                <a href="{{ url_for('static', filename='pub_key/'+value['pub_key']) }}">{{ value['pub_key'] }}</a>
                            </td>
                            <td>
                                <a href="/sshuser/{{ value['id'] }}/sshuser-server" class="btn btn-info btn-sm">
                                    <i class="fa fa-server"></i>
                                    Assign Server
                                </a>

                                <a class="btn btn-sm btn-warning" href="/sshuser/{{ value['id'] }}/edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-sm btn-danger" href="/sshuser/{{ value['id'] }}/delete" onclick="return confirm('Apakah anda yakin.?')">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="modal-add-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content ">
                <form method="POST" action="/sshuser/multiassign">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Multi Assign User Server</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label>Pilih Server</label>
                        <div style="border-top: 1px solid #ccc; padding-top: 10px;">
                            <div class="form-group clearfix" >
                                {% for s in server %}
                                    <div class="icheck-primary d-inline" style="padding-right: 20px;">
                                        <input type="checkbox" name="server" id="server-{{ s['id'] }}" value="{{ s['id'] }}">
                                        <label for="server-{{ s['id'] }}">
                                            {{ s['server'] }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <br>
                        <label>Pilih User</label>
                        <div style="border-top: 1px solid #ccc; padding-top: 10px;">
                            <div class="form-group clearfix" >
                                {% for d in data %}
                                    <div class="icheck-primary d-inline" style="padding-right: 20px;">
                                        <input type="checkbox" name="user" id="user-{{ d['id'] }}" value="{{ d['id'] }}">
                                        <label for="user-{{ d['id'] }}">
                                            {{ d['username'] }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Assign</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-remove" tabindex="-1" role="dialog" aria-labelledby="modal-remove-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content ">
                <form method="POST" action="/sshuser/multiremove">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Multi Remove User Server</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label>Pilih Server</label>
                        <div style="border-top: 1px solid #ccc; padding-top: 10px;">
                            <div class="form-group clearfix" >
                                {% for s in server %}
                                    <div class="icheck-primary d-inline" style="padding-right: 20px;">
                                        <input type="checkbox" name="server" id="server_remove-{{ s['id'] }}" value="{{ s['id'] }}">
                                        <label for="server_remove-{{ s['id'] }}">
                                            {{ s['server'] }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <br>
                        <label>Pilih User</label>
                        <div style="border-top: 1px solid #ccc; padding-top: 10px;">
                            <div class="form-group clearfix" >
                                {% for d in data %}
                                    <div class="icheck-primary d-inline" style="padding-right: 20px;">
                                        <input type="checkbox" name="user" id="user_remove-{{ d['id'] }}" value="{{ d['id'] }}">
                                        <label for="user_remove-{{ d['id'] }}">
                                            {{ d['username'] }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock  %}

{% block script %} {% endblock %}