<footer class="main-footer">
    <strong>Copyright &copy; 2022 {{ APP_AUTHOR }}.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.1.0
    </div>
</footer>