<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="{{ url_for('static', filename='adminlte/dist/img/AdminLTELogo.png') }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Menu</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div> -->

        <!-- SidebarSearch Form -->
        <!-- <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div> -->

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <i class="nav-icon fa fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/users" class="nav-link">
                        <i class="nav-icon fa fa-users"></i>
                        <p>User</p>
                    </a>
                </li>
                <li class="nav-header">Servers</li>
                <li class="nav-item">
                    <a href="/server" class="nav-link">
                        <i class="nav-icon fa fa-server"></i>
                        <p>Server</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/user-server-credential" class="nav-link">
                        <i class="nav-icon fa fa-user-circle"></i>
                        <p>User Server Credential</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/sshuser" class="nav-link">
                        <i class="nav-icon fa fa-people-arrows"></i>
                        <p>SSH User</p>
                    </a>
                </li>

                <!-- <li class="nav-item">
                    <a href="/changeport" class="nav-link">
                        <i class="nav-icon fa fa-umbrella"></i>
                        <p>Change Port</p>
                    </a>
                </li> -->
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>