{% extends 'layouts/app2.html' %}

{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">Add Server</h3>
            <div class="card-tools">
                <a type="button" class="btn btn-info btn-sm" href="/server">
                    <i class="fa fa-arrow-left"></i> Back
                </a>
            </div>
        </div>
        <form method="POST" action="/server/store">
	        <div class="card-body">
	        	<div class="form-group row">
	        		<label class="col-md-2 col-form-label">IP/Domain</label>
	        		<div class="col-md-5">
	        			<input type="text" class="form-control" placeholder="IP/Domain" name="server" required="">
	        		</div>
	        	</div>

	        	<div class="form-group row">
	        		<label class="col-md-2 col-form-label">Port</label>
	        		<div class="col-md-5">
	        			<input type="number" class="form-control" placeholder="PORT" name="port" required="" value="22">
	        		</div>
	        	</div>

	        	<div class="form-group row">
	        		<label class="col-md-2 col-form-label">Username</label>
	        		<div class="col-md-5">
	        			<select class="form-control" name="user_cred">
	        				{% for u in cred_user %}
	        					<option value="{{ u['id'] }}">{{ u['name'] }} ({{ u['username'] }})</option>
	        				{% endfor %}
	        			</select>
	        		</div>
	        	</div>
	        </div>
	        <div class="card-footer">
	        	<button class="btn btn-primary">Simpan</button>
	        </div>
        </form>
    </div>
{% endblock  %}