{% extends 'layouts/app2.html' %}

{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">Data Server</h3>
            <div class="card-tools">
                <a type="button" class="btn btn-primary btn-sm" href="/server/create">
                    <i class="fa fa-plus"></i> Add Server
                </a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped data-table">
                <thead>
                    <tr>
                        <th style="width: 10px;">No</th>
                        <th>IP/Domain</th>
                        <th>Port</th>
                        <th>Username/Root</th>
                        <th>Test Connection</th>
                        <th>Status Key</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for value in data %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ value['server'] }}</td>
                            <td>{{ value['port'] }}</td>
                            <td>{{ value['name'] }} ({{ value['username'] }})</td>
                            <td>
                                {% if value['connection_test']=='Success' %}
                                    <i class="fa fa-check-circle text-success"></i> {{ value['connection_test'] }}
                                {% else %}
                                    <i class="fa fa-times-circle text-danger"></i> {{ value['connection_test'] }}
                                {% endif %}
                            </td>
                            <td>
                                {% if value['status'] == 0 %}
                                    Not Sync
                                {% else %}
                                    Sync
                                {% endif %}
                            </td>
                            <td>
                                <a class="btn btn-sm btn-warning mb-1" href="/server/{{ value['id'] }}/edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-sm btn-danger mb-1" href="/server/{{ value['id'] }}/delete" onclick="return confirm('Apakah anda yakin.?')">
                                    <i class="fa fa-trash"></i>
                                </a>

                                {% if value['status'] == 0 %}
                                    <a class="btn btn-sm btn-info mb-1" href="/automation/sync-key-server/{{ value['id'] }}" onclick="return confirm('Sync public key sekarang?')">Sync Key Server</a>
                                {% else %}
                                    <a class="btn btn-sm btn-dark mb-1" href="/automation/sync-key-server/{{ value['id'] }}" onclick="return confirm('Sync public key sekarang?')">Re-Sync</a>
                                    <button type="button" class="btn btn-sm btn-success mb-1" data-toggle="modal" data-target="#change-port-{{ value['id'] }}">Change Port</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% for value in data %}
        <div class="modal fade" id="change-port-{{ value['id'] }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Change Port {{ value['server'] }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="/automation/change-port/{{ value['id'] }}">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-form-label">Port Before :</label>
                                <input type="number" class="form-control" value="{{ value['port'] }}" readonly>
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Port After :</label>
                                <input type="number" class="form-control" value="{{ value['port'] }}" name="port">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Change port</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock  %}

{% block script %} {% endblock %}