{% extends 'layouts/app2.html' %}

{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">Add User Server Credential</h3>
            <div class="card-tools">
                <a type="button" class="btn btn-info btn-sm" href="/user-server-credential">
                    <i class="fa fa-arrow-left"></i> Back
                </a>
            </div>
        </div>
        <form method="POST" action="/user-server-credential/store" enctype="multipart/form-data">
	        <div class="card-body">
	        	<div class="form-group row">
	        		<label class="col-md-2 col-form-label">Name</label>
	        		<div class="col-md-5">
	        			<input type="text" class="form-control" placeholder="Name" name="name" required="">
	        		</div>
	        	</div>

	        	<div class="form-group row">
	        		<label class="col-md-2 col-form-label">Username</label>
	        		<div class="col-md-5">
	        			<input type="text" class="form-control" placeholder="Username" name="username" required="">
	        		</div>
	        	</div>

	        	<div class="form-group row">
	        		<label class="col-md-2 col-form-label">Password</label>
	        		<div class="col-md-5">
	        			<input type="password" id="password" class="form-control" placeholder="Password" name="password" required="">
	        			<small><a href="#" id="show_hide_password">Show Password</a></small>
	        		</div>
	        	</div>

	        	<div class="form-group row">
	        		<label class="col-md-2 col-form-label">Private Key</label>
	        		<div class="col-md-5">
	        			<input type="file" class="form-control-file" name="private" required>
	        		</div>
	        	</div>

	        	<div class="form-group row">
	        		<label class="col-md-2 col-form-label">Public Key</label>
	        		<div class="col-md-5">
	        			<input type="file" class="form-control-file" name="public" required>
	        		</div>
	        	</div>
	        </div>
	        <div class="card-footer">
	        	<button class="btn btn-primary">Simpan</button>
	        </div>
        </form>
    </div>
{% endblock  %}

{% block script %}
<script type="text/javascript">
	$("#show_hide_password").click(function(event) {
		if ($("#password").attr('type') == 'password') {
			$("#password").attr('type', 'text');
			$("#show_hide_password").html('Hide Password');
		}else{
			$("#password").attr('type', 'password');
			$("#show_hide_password").html('Show Password');
		}
	});
</script>
{% endblock  %}