{% extends 'layouts/app2.html' %}

{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">User Server Credential</h3>
            <div class="card-tools">
                <a type="button" class="btn btn-primary btn-sm" href="/user-server-credential/create">
                    <i class="fa fa-plus"></i> Add User Server Credential 
                </a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped data-table">
                <thead>
                    <tr>
                        <th style="width: 10px;">No</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Private Key</th>
                        <th>Public Key</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for value in data %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ value['name'] }}</td>
                            <td>{{ value['username'] }}</td>
                            <td>
                                <a href="{{ url_for('static', filename='user_key/'+value['private_key']) }}">{{ value['private_key'] }}</a>
                            </td>
                            <td>
                                <a href="{{ url_for('static', filename='user_key/'+value['public_key']) }}">{{ value['public_key'] }}</a>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-warning" href="/user-server-credential/{{ value['id'] }}/edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-sm btn-danger" href="/user-server-credential/{{ value['id'] }}/delete" onclick="return confirm('Apakah anda yakin.?')">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock  %}

{% block script %} {% endblock %}