{% extends 'layouts/app2.html' %}

{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">Add Admin</h3>
            <div class="card-tools">
                <a type="button" class="btn btn-info btn-sm" href="/users">
                    <i class="fa fa-arrow-left"></i> Back
                </a>
            </div>
        </div>
        <form method="POST" action="/users/store" enctype="multipart/form-data">
	        <div class="card-body">
	        	<div class="form-group row">
	        		<label class="col-md-2 col-form-label">Name</label>
	        		<div class="col-md-5">
	        			<input type="text" class="form-control" placeholder="Name" name="name" required="">
	        		</div>
	        	</div>

	        	<div class="form-group row">
	        		<label class="col-md-2 col-form-label">Username</label>
	        		<div class="col-md-5">
	        			<input type="text" class="form-control" placeholder="Username" name="username" required="">
	        		</div>
	        	</div>

	        	<div class="form-group row">
	        		<label class="col-md-2 col-form-label">Password</label>
	        		<div class="col-md-5">
	        			<input type="password" class="form-control" placeholder="Password" name="password" required="">
	        		</div>
	        	</div>
	        </div>
	        <div class="card-footer">
	        	<button class="btn btn-primary">Simpan</button>
	        </div>
        </form>
    </div>
{% endblock  %}